body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

h2 {
    margin: 5px;
}

#game-container {
    text-align: center;
    background: lightblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.difficulty-container {
    position: relative;
    display: inline-block;
}

#difficulty-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

#difficulty-button:hover {
    background-color: #45a049;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    overflow: hidden;
}

.dropdown-content.show {
    display: block;
    position: center;
}

.dropdown-content button {
    background-color: transparent;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

#difficulty-container {
    margin: auto;
}

#game-state-container {
    display: flex;
    justify-content: space-between;
    background: lightgrey;
    margin: 10px auto;
}

.counter {
    background: black;
    color: red;
    padding: 5px;
}

#grid-container {
    display: inline-grid;
    background: rgb(170, 170, 170);
    gap: 1px;
    border: 5px ridge rgb(190, 190, 190);
    padding: 3px;
}

.tile {
    background: rgb(200, 200, 200);
    width: 25px;
    height: 25px;
    border: 2px outset rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
}

.tile:active {
    border: 2px inset rgb(190, 190, 190);
}

.tile.revealed {
    border: 2px inset rgb(190, 190, 190);
    background: #dddddd;
}

.tile.revealed-mine {
    border: 2px inset rgb(190, 190, 190);
    background: red;
}
